{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<section class="bg-light text-dark p-5 pb-lg-0 text-center shadow">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <img src="{% static 'img/mk_clothing.svg' %}" class="img-fluid" alt="">
                <h1 class="d-nonee d-sm-block"><span style="color: rgb(243, 164, 45);">Specialist</span> in:</h1>

                <p class="lead">
                    Cutting, Finishing, Pressing, Thread Cutting, Folding & Packing
                </p>
                {% if user.is_authenticated %}
                <a class="btn btn-dark btn-lg my-2 shadow" href="{% url 'mk_clothing:home' %}">Go to Dashboard</a>
                {% else %}
                <a class="btn btn-dark btn-lg my-2 shadow" href="{% url 'mk_clothing:home' %}#first_card">Know More</a>
                {% endif %}
            </div>
            <img class="img-fluid w-50 d-none d-sm-block shopping2" src="{% static 'img/clothing.svg' %}" alt="">
        </div>
    </div>
</section>
<!-- Showcase ends -->

<!-- Newsletter (Not implemented in the backend for now)-->
<section class="bg-dark text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">
                Sign Up For Our Newsletter
            </h3>
            <div class="input-group email-input">
                <input type="text" class="form-control" placeholder="Enter Email">
                <a class="btn btn-outline-secondary btn-lg text-light" href="{% url 'mk_clothing:home' %}">
                    Submit
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter ends -->

<!-- User greetings -->
{% if user.is_authenticated %}
<div class="container mt-5">
    <h2>Hello {{ user.username }}, welcome!</h2>
    <p>Checkout and manage your shit here!</p>
</div>

{% else %}
<div class="container mt-5">
    <h2>New Here?</h2>
    <p>Checkout what we have to offer.</p>
</div>
{% endif %}

<!-- Box section -->
{% if user.is_authenticated %}
<div class="text-center bg-light">
    <h2>Your Dashboard</h2>
    <p class="text-muted mb-0">Private to you</p>

</div>

<section class="p-5">
    <div class="container">
        <div class="row text-center gy-4">
            <div class="col-md" id="youtube-series">
                <div class="card bg-dark text-light shadow h-100">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="fa fa-money-bill-alt fa-2x text-success" aria-hidden="true"></i>

                        </div>
                        <h3 class="card-title">
                            Money received
                        </h3>
                        <p class="card-text">You received '{{ bought_items }}'500k" for this project.</p>
                        <a href="{% url 'mk_clothing:home' %}#gro-list" class="btn btn-outline-info">View your
                            list</a>
                    </div>
                </div>
            </div>
            <div class="col-md" id="y-l-program">
                <div class="card bg-info text-light shadow h-100">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="fa fa-money-bill-wave fa-2x text-danger"></i>
                        </div>
                        <h3 class="card-title">

                        </h3>
                        <p class="card-text">You spent '{{ not_available }}'377k" on this project.</p>
                        <a href="{% url 'mk_clothing:home' %}#gro-list" class="btn btn-outline-dark">View your list</a>
                    </div>
                </div>
            </div>
            <div class="col-md" id="mf-pilot">
                <div class="card bg-dark text-light shadow h-100">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="fa fa-donate fa-2x text-info"></i>
                        </div>
                        <h3 class="card-title">
                            Total P & L
                        </h3>
                        <p class="card-text">"+123'{{ pending_items }}' items pending in your list.</p>
                        <a href="{% url 'mk_clothing:home' %}#gro-list" class="btn btn-outline-info">View your list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- grocery list section -->
<section id="gro-list" class="p-5">
    <div class="container text-center">
        <div class="h2">
            Go to dashboard
        </div>
        <a class="btn btn-outline-success mb-4 mt-1" href="{% url 'mk_clothing:home' %}"> <i
                class="fa fa-cart-plus my-1"></i> Add
            item</a>
        <div class="row text-center gy-4">
            {% for grocery in grocery_list %}
            <div class="col-md-4 ">
                <div class="card bg-white text-dark shadow h-100">
                    <div class="card-body text-center">
                        <h3 class="card-title">
                            {{ grocery.item_name }}
                        </h3>
                        <p class="card-text text-muted m-0">Quantity: {{ grocery.item_quantity }}</p>
                        <p class="mt-0"><span class="{{ grocery.item_status }} fw-bold">
                                {{ grocery.item_status }}</span> </p>
                        <a href="{% url 'mk_clothing:home' grocery.pk  %}"
                            class="btn btn-outline-info btn-sm">Update</a>
                        <a href="{% url 'mk_clothing:home' grocery.pk  %}"
                            class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div>
                Such Empty :)
            </div>
            {% endfor %}

        </div>

    </div>
</section>


<!-- if user is not authenticated -->
{% else %}
<section class="p-5">
    <div class="container">
        <div class="row text-center gy-4">
            <div class="col-md" id="first_card">
                <div class="card bg-dark text-light shadow h-100">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="fa fa-cut fa-2x" aria-hidden="true"></i>

                        </div>
                        <h3 class="card-title">
                            Cutting, Finishing
                        </h3>
                        <p class="card-text">You can add new grocery items easily with all the details.</p>
                        <a href="{% url 'mk_clothing:home' %}" target="_blank" class="btn btn-outline-info">Join to
                            Know
                            more</a>
                    </div>
                </div>
            </div>
            <div class="col-md" id="second_card">
                <div class="card bg-info text-light shadow h-100">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="fa fa-pallet fa-2x"></i>
                        </div>
                        <h3 class="card-title">
                            Pressing, Thread Cutting
                        </h3>
                        <p class="card-text">You can track your item-status, and can even change it according to your
                            item
                            process.</p>
                        <a href="{% url 'mk_clothing:home' %}" class="btn btn-outline-dark">Join to Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-md" id="third_card">
                <div class="card bg-dark text-light shadow h-100">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="fa fa-dolly-flatbed fa-2x"></i>
                        </div>
                        <h3 class="card-title">
                            Folding & Packing
                        </h3>
                        <p class="card-text">Updating your grocery list is easy with gro-list.</p>
                        <a href="{% url 'mk_clothing:home' %}" class="btn btn-outline-info">Join to Know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Box section ends -->

<!-- Learn section -->
<section class="p-5" id="learn">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="{% static 'img/deliveries.svg' %}" class="img-fluid w-75 shopping2" alt="">


            </div>
            <div class="col-md p-5">
                <h2>Clothing Solutions that gets you</h2>
                <p class="lead">
                    Demo text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error sint officiis
                    distinctio nostrum
                    magni! Ad.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex consequuntur obcaecati tempore
                    suscipit eos accusamus fuga assumenda sunt. Fugit autem fugiat perspiciatis hic atque laborum
                    cum. Beatae odio repudiandae maxime!
                </p>
                <a href="{% url 'mk_clothing:about' %}" class="btn btn-dark mt-3">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Know More
                </a>
            </div>
        </div>
    </div>
</section>

<section class="p-5 bg-dark text-light" id="learn2">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Keep track of your project through our online dashboard</h2>
                <p class="lead">
                    Demo text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error sint officiis
                    distinctio nostrum
                    magni! Ad.
                </p>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex consequuntur obcaecati tempore
                    suscipit eos accusamus fuga assumenda sunt. Fugit autem fugiat perspiciatis hic atque laborum
                    cum. Beatae odio repudiandae maxime!
                </p>
                <a href="{% url 'mk_clothing:about' %}" class="btn btn-secondary mt-3">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Know More
                </a>
            </div>
            <div class="col-md">
                <img src="{% static 'img/undraw_working_remotely_jh40.svg' %}" class="img-fluid" alt="">
                <!-- <img src="{% static 'img/undraw_working_late_pukg.svg' %}" class="img-fluid" alt=""> -->


            </div>
        </div>
    </div>
</section>
<!-- Learn section ends -->

<!-- Faq accordion -->
<section id="questions" class="p-5">
    <div class="container">
        <h2 class="text-center mb-4">
            Frequently Asked Questions
        </h2>
        <div class="accordion accordion-flush" id="questions">
            <!-- Item 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-one">
                        How can I know about the pricing details of the services provided by the Mk Clothing Solutions?
                    </button>
                </h2>
                <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#questions">
                    <div class="accordion-body">Demo text.</div>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-two">
                        How can I contact team Mk Clothing Solutions?
                    </button>
                </h2>
                <div id="question-two" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#questions">
                    <div class="accordion-body">This is very simple just checkout our <a
                            href="{% url 'mk_clothing:contact' %}">contact page</a> or reach out to any of the team
                        member via
                        their social media accounts.</div>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-three">
                        How long does it take to complete a project?
                    </button>
                </h2>
                <div id="question-three" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#questions">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to
                        demonstrate the Faqs section. This is the third item's accordion
                        body. Nothing more exciting happening here in terms of content, but just filling up the
                        space to make it look, at least at first glance, a bit more representative of how this would
                        look in a real-world application.</div>
                </div>
            </div>
            <!-- Item 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-four">
                        How can I get a free trial?
                    </button>
                </h2>
                <div id="question-four" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#questions">
                    <div class="accordion-body">You don't.</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Could add 3 recently added items -->

{% endblock content %}